<nav class="main-nav">
  <ul>
    <li class="abile identities">Identities</li>
    <li class="edit editorial">Editorial</li>
    <li class="backyard conceptual">Conceptual</li>
    <li class="bedrock collabs">Collaborations</li>
  </ul>
</nav>

<div class="content-identities">

</div>
